  .contact-heading {
    font-family: 'Poppins';
    font-size: 60px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  
  
  .form-group {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-family: 'Poppins';
    font-size: 3vh;
    font-weight: bolder;
  }
  
  
  .submit-button {
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
  }
  