.motto-text {
    font-size: 5vh;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
  }
  .motto-subtext {
    font-size: 3vh;
    color: black;
    margin-top: 0;
    line-height: 1.5;
    font-family: 'Poppins';
  }
  .motto-subtexts {
    color: black;
    margin-top: 0;
    line-height: 1.5;
    font-family: 'Poppins';
  }